html {
  -webkit-text-size-adjust: 100%;
}
body {
  background-color: yellow;
}

  /* Link styling */
a:link {
  cursor: not-allowed;
  font-family: times;
    color: black;
    font-style: normal;
    text-decoration: none;
}
img{
  width:50%;
}
.releaseimagecontainer {
    z-index:0;
    text-align:center;

}
.wrapper{
    padding-top: 0%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 70px;
}
/* Media queries */
/* Mobile */
@media only screen and (max-device-width:800px){
  html{
    -webkit-text-size-adjust: 180%;
  }
  body {
    display:inline;
  }
    img{
      width:100%;
    }
  .wrapper{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 70px;
  }
.releaseimagecontainer {
    text-align:center;
  }

/* Responsive desktop */
@media screen and (max-width: 840px){
  body {
    display: inline;
  }
  img{
    width:100%;
  }
  .wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 70px;
    }
  .releaseimagecontainer {
      text-align:center;
    }
}
